/* ## GLOBALS & VARIABLES ## */

@keyframes makeVisible {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
   }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --brandColour: #DB6D3B;
    --backgroundColor: white;
    --textColor: #4A4A4A;
    --testColor: #24282d;
}

body {
    overflow-x: hidden;
    background-color: var(--backgroundColor);
}

h1, h2, h3, h4, h5, h6, p, a{
    font-family: 'PT Sans', sans-serif;
}

p{ font-size: 1.2em; }
h2{ font-size: 2em; }

.spacedTop{ margin-top: 20px; }
.spacedBottom{ margin-bottom: 20px; }

.mediumScreen{ display: none; }
.largeScreen{ display: none; }


/* ## MISC ## */

.centered{
    text-align: center;
}

.container{
    /* Side margins */
    width: 100%;
    padding: 0 30px 0 30px;
}

.buttonContainer{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.borderedButton{
    border: 3px solid var(--brandColour);
    font-weight: bold;
    font-size: 1.4em;
    color: var(--brandColour);
    border-radius: 10px;
    padding: 7px;
    text-decoration: none;
    margin-bottom: 20px;
    transition: 0.2s ease all;
}

.questionButton {
    display: flex;
    justify-content: space-between;
    text-align: left;
    cursor: pointer;
    padding: 7px 22px;
    margin-bottom: 0;
    width: 100%;
}

.questionNav{
    visibility: hidden;
}
.questionButton > i {
    padding: 5px 5px 5px 5px;
    border: 3px solid;
    border-radius: 10px;
    font-size: 18px;
}

.questionButton > i::before {
    visibility: hidden;
}

.selectedButton{
    color: white;
    background-color: var(--brandColour);
}

.selectedButton > i::before{
    visibility: visible;
}

.navContainer {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--brandColour)
}

#navText {
    font-size: 1.2em;
    font-weight: bold;
}

.progressBar{
    height: 50px;
    background-color: var(--brandColour);
    width: 100vw;
    margin-left: -30px;
    position: absolute;
    z-index: -1;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 0 0 30px;
    justify-content: space-between;
}

progress{
    width: 100%;
    border: 5px solid var(--backgroundColor);
    height: 20px;
    border-radius: 20px;
    box-sizing: content-box;
    background-color: var(--backgroundColor);
    transition: ease-out 0.5s all;
}

progress[value] {
    transition: ease-out 0.5s all;
    border-radius: 1em;
  }

progress::-webkit-progress-bar {
    border: 0;
    border: 5px solid var(--backgroundColor);
    transition: ease-out 0.5s all;
    height: 20px;
    border-radius: 20px;
    border: 10px;
    background-color: var(--backgroundColor);
}
progress::-webkit-progress-value {
    border: 0;
    height: 20px;
    border-radius: 20px;
    background-color: var(--brandColour);
    transition: ease-out 0.5s all;
}
progress::-moz-progress-bar {
    border: 0;
    height: 20px;
    border-radius: 20px;
    transition: ease-out 0.5s all;
    border: 5px solid var(--backgroundColor);
    border: 10px;
    background-color: var(--backgroundColor);
}

.progressBar h3{
    padding: 30px;
    color: var(--backgroundColor);
    text-align: right;
}

.arrow {
    padding: 5px;
    border: 3px solid;
    border-radius: 10px;
    font-size: 24px;
}

.arrow:hover{
    color: white;
    background-color: var(--brandColour);
    border: 3px solid;
    cursor: pointer;
}

.borderedButton:hover{
    color: white;
    background-color: var(--brandColour);
}

#outputContainer{
    position: absolute;
    display: none;
    animation: makeVisible 0.5s linear;
    background-color: white;
}

#questionContainer{
    max-height: 100vh;
}

#questionContainer .buttonContainer{
    height: 70vh;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 0;
}

.questionContainer{
    padding-top: 50px;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    font-weight: bold;
    margin: auto;
}

#questionIcon{
    position: absolute;
    color: var(--brandColour);
    font-size: 20vh;
    padding-top: 20px;
    opacity: 0.1;
    z-index: -1;
}

#question{
    color: var(--textColor);
}

#questionCategory{
    color: var(--brandColour);
}

/* ## MEDIA QUERIES ## */

@media screen and (min-width: 480px) {
    .mediumScreen{ display:unset; }
    .questionContainer{ max-width: 500px;}
}

@media screen and (min-width: 1000px) {
    .largeScreen{ display:unset; }
    .canvasContainer{ max-width: 50%;}
}


/*
==================================================
OUTPUT CSS
==================================================
*/

/* ## MISC ## */

#outputSectionOne{ 
    display: flex; 
    flex-direction: column;
    align-items: center;
}

#outputAnalysisSubtitle{
    font-size: 1.5em;
    text-align: center;
}

.canvasContainer{ 
    width: 100%;
    max-width: 600px;
}
#radarChart{
    height: 600px;
    max-height: 400px;
}

#outputContainer{
    padding: 0;
}

#outputBanner{margin: 20px 20px 0 20px;}
#outputBanner > * {z-index: 1}

#outputFooter{
    background-color: var(--brandColour);
    color: white;
    padding: 0 40px;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#outputFooter h4{
    font-size: 1.5em;
    margin-bottom: 10px;
}

#examples{
    display: none;
}

.borderedButton{
    width: 300px;
}

#outputFooter img{
    height: 70px;
}

.flexWrapper{
    display: flex;
}

/* ## MEDIA QUERIES ## */

@media screen and (min-width: 480px) {
    .mediumScreen{ display:unset !important; }
}

@media screen and (min-width: 1000px) {
    .largeScreen{ display:unset !important; }
    .outputContainer{max-width: 100%;}

    /* Buttons */
    .buttonContainer{ flex-direction: row; justify-content: space-between;}

    /* Section One */
    #outputSectionOne{ 
        display: flex; 
        width: 90%;
        margin: 40px auto;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-evenly;
        height: 60vh; 
    }
    #outputSectionOne > *{
        width: 50% !important;
        height: auto;
    }
    #outputAnalysisSubtitle{
        font-size: 1.2em;
        margin-top: 20px;
        text-align: left;
    }
    #outputSectionOne .buttonContainer > .borderedButton{ width: 49%; }
    #outputSectionOne > div:last-of-type{
        max-width: 500px;
    }


    /* Output Banner */

    #outputBanner{
        position: relative;
        padding: 20px 0;
        color: white; 
        height: 30vh;
        display: flex;
        margin: 0;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    #outputBanner::before{
        content: "";
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 30vh;
        filter: brightness(30%);
        background-image: url("/images/outputHeader.png");
        background-position: center;
        background-size: cover;
    }
    #outputBanner h2{font-size: 4em;text-transform: uppercase;}
    #outputBanner p{font-size: 1.5em;}

    /* Section Two */
    
    #outputSectionTwo{
        padding: 0 25%;
        text-align: center;
    }
    #outputSectionTwo .buttonContainer{
        justify-content: center;
    }
    #outputSectionTwo .buttonContainer .borderedButton{
        width: 220px;
    }

    #examples{
        width: 100%;
        height: auto;
        margin-bottom: 50px;
    }

    /* Footer */

    #outputFooter h4{
        font-size: 2em;
        margin-bottom: 10px;
    }
    
    #outputFooter img{
        height: 100px;
    }
}
