/* ## GLOBALS & VARIABLES ## */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --brandColour: #DB6D3B;
}

h1, h2, h3, h4, h5, h6, p, a{
    font-family: 'PT Sans', sans-serif;
}

p{ font-size: 1.2em; }
h2{ font-size: 2em; }

.spacedTop{ margin-top: 20px; }
.spacedBottom{ margin-bottom: 20px; }

.mediumScreen{ display: none; }
.largeScreen{ display: none; }


/* ## MISC ## */

.centered{
    text-align: center;
}

.container{
    /* Side margins */
    margin: 0 30px 0 30px;
}

.buttonContainer{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.borderedButton{
    border: 3px solid var(--brandColour);
    font-weight: bold;
    font-size: 1.5em;
    color: var(--brandColour);
    border-radius: 10px;
    padding: 7px;
    text-decoration: none;
    margin-bottom: 20px;
    transition: 0.3s ease all;
}

.borderedButton:hover{
    color: white;
    background-color: var(--brandColour);
}

/* ## MEDIA QUERIES ## */

@media screen and (min-width: 480px) {
    .mediumScreen{ display:unset; }
}

@media screen and (min-width: 1000px) {
    .largeScreen{ display:unset; }
}
/*
==================================================
OUTPUT CSS
==================================================
*/

/* ## MISC ## */

#outputSectionOne{ 
    display: flex; 
    flex-direction: column;
    align-items: center;
}

#outputAnalysisSubtitle{
    font-size: 1.5em;
    text-align: center;
}

.canvasContainer{ 
    width: 100%;
    max-width: 600px;
}
#radarChart{
    height: 600px;
}

.outputContainer{
    max-width: 600px;
    margin: auto;
}

#outputBanner{margin: 20px 20px 0 20px;}

#outputFooter{
    background-color: var(--brandColour);
    color: white;
    padding: 0 40px;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#outputFooter h4{
    font-size: 1.5em;
    margin-bottom: 10px;
}

#examples{
    display: none;
}

.borderedButton{
    width: 300px;
}

#outputFooter img{
    height: 70px;
}

.flexWrapper{
    display: flex;
}

/* ## MEDIA QUERIES ## */

@media screen and (min-width: 480px) {
    .mediumScreen{ display:unset !important; }
}

@media screen and (min-width: 1000px) {
    .largeScreen{ display:unset !important; }
    .outputContainer{max-width: 100%;}

    /* Buttons */
    .buttonContainer{ flex-direction: row; justify-content: space-between;}

    /* Section One */
    #outputSectionOne{ 
        display: flex; 
        width: 90%;
        margin: auto;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-evenly;
        height: 70vh;
    }
    #outputSectionOne > *{
        width: 50% !important;
        height: auto;
    }
    #outputAnalysisSubtitle{
        font-size: 1.2em;
        margin-top: 20px;
        text-align: left;
    }
    #outputSectionOne .buttonContainer > .borderedButton{ width: 49%; }
    #outputSectionOne > div:last-of-type{
        max-width: 500px;
    }


    /* Output Banner */

    #outputBanner{
        position: relative;
        padding: 20px 0;
        color: white; 
        height: 30vh;
        display: flex;
        margin: 0;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    #outputBanner::before{
        content: "";
        position: absolute;
        top: 0; left: 0;
        z-index: -1;
        width: 100%; height: 30vh;
        filter: brightness(30%);
        background-image: url("/images/outputHeader.png");
        background-position: center;
        background-size: cover;
    }
    #outputBanner h2{font-size: 4em;text-transform: uppercase;}
    #outputBanner p{font-size: 1.5em;}

    /* Section Two */
    
    #outputSectionTwo{
        padding: 0 25%;
        text-align: center;
    }
    #outputSectionTwo .buttonContainer{
        justify-content: center;
    }
    #outputSectionTwo .buttonContainer .borderedButton{
        width: 220px;
    }

    #examples{
        width: 100%;
        height: auto;
        margin-bottom: 50px;
    }

    /* Footer */

    #outputFooter h4{
        font-size: 2em;
        margin-bottom: 10px;
    }
    
    #outputFooter img{
        height: 100px;
    }
}